/* 72小時 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

#header-search-list li {
    padding: 10px 15px;
    margin: auto;
    box-sizing: content-box;
}

.dateActive, .timeActive{
    color: white;
    background-color: var(--header-bg-color);
    border-radius: 10px;
    animation: 0.75s select-fade-in;
    box-shadow: 0px 3px 2px 1px  #ddd;
}

div.control-panel{
    display: flex;
    flex-direction: column;
    border:  3px solid var(--nav-bg-color);
    margin: -1px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 3px 4px 1px  #ddd;
}
div.control-panel div.type{
    display: flex;
    margin-bottom: -1px;
}
div.control-panel div.type h3{
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

div.control-panel div.date{
    display: flex;
    margin: 1px 0;
}
div.control-panel div.date p{
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
div.control-panel div.date p:hover:not(.dateActive){
    background-color: var(--nav-bg-color);
    border-radius: 10px;
    animation: 0.75s hover-fade-in;
}
div.control-panel div.time{
    display: flex;
}
div.control-panel div.time p{
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

div.control-panel div.time p:hover:not(.timeActive){
    background-color: var(--nav-bg-color) ;
    border-radius: 10px;
    animation: 0.75s hover-fade-in;
}

div.show-select-time{
    padding: 20px 0;
    margin: 1px -1px -1px -1px;
    border:  3px solid var(--nav-bg-color);
    border-top: none;
    border-radius: 0 0 10px 10px;   
    background: linear-gradient(180deg, var(--main-bg-color) , var(--header-bg-color) );
    box-shadow: 3px 3px 4px 1px  #ddd;
}

div.show-select-time p{
    padding: 10px;
    width: 100%;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 0px 6px;
}

div.data-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: center;

}

div.data-container div.data:nth-child(4),
div.data-container div.data:nth-child(5),
div.data-container div.data:nth-child(6),
div.data-container div.data:nth-child(10),
div.data-container div.data:nth-child(11),
div.data-container div.data:nth-child(12),
div.data-container div.data:nth-child(16),
div.data-container div.data:nth-child(17),
div.data-container div.data:nth-child(18),
div.data-container div.data:nth-child(22){
    background-color: var(--nav-bg-color);
    border-radius: 10px;
    box-shadow: 3px 3px 4px 1px  #ddd;
}
div.data-container div.data{
    width: 33%;
    display: flex;
    padding: 10px;
    margin: 1px;
}
div.data-container div.data div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.data-container div.data div img{
    width: 30px;
    height: 30px;
}

div.data-container div.data div p{
    margin-top: 5px;
    font-size: 18px;
}

@keyframes hover-fade-in{
    from{
        background-color: var(--main-bg-color);
    }
    to{
        background-color: var(--nav-bg-color);
    }
}
@keyframes select-fade-in{
    from{
        background-color: var(--main-bg-color);
    }
    to{
        background-color: var(--header-bg-color);
    }
}

@media screen and (max-width:1200px) {
    section.section-days{
        width: 96%;
    }
}

@media screen and (max-width:900px) {
    div.data-container div.data:nth-child(5),
    div.data-container div.data:nth-child(6),
    div.data-container div.data:nth-child(10),
    div.data-container div.data:nth-child(17),
    div.data-container div.data:nth-child(18),
    div.data-container div.data:nth-child(22){
        background-color: var(--main-bg-color);
        box-shadow: none;
    }
    div.data-container div.data:nth-child(3),
    div.data-container div.data:nth-child(4),
    div.data-container div.data:nth-child(7),
    div.data-container div.data:nth-child(8),
    div.data-container div.data:nth-child(11),
    div.data-container div.data:nth-child(12),
    div.data-container div.data:nth-child(15),
    div.data-container div.data:nth-child(16),
    div.data-container div.data:nth-child(19),
    div.data-container div.data:nth-child(20){
        background-color: var(--nav-bg-color);
        box-shadow: 3px 3px 4px 1px  #ddd;
        border-radius: 10px;
    }
    div.data-container div.data{
        width: 49%;
    }
}

@media screen and (max-width:600px) {}

@media screen and (max-width:450px) {
    div.data-container div.data:nth-child(1),
    div.data-container div.data:nth-child(3),
    div.data-container div.data:nth-child(7),
    div.data-container div.data:nth-child(11),
    div.data-container div.data:nth-child(15),
    div.data-container div.data:nth-child(19){
        background-color: var(--main-bg-color);
        box-shadow: none;
    }   
    div.data-container div.data:nth-child(2),
    div.data-container div.data:nth-child(4),
    div.data-container div.data:nth-child(6),
    div.data-container div.data:nth-child(8),
    div.data-container div.data:nth-child(10),
    div.data-container div.data:nth-child(12),
    div.data-container div.data:nth-child(14),
    div.data-container div.data:nth-child(16),
    div.data-container div.data:nth-child(18),
    div.data-container div.data:nth-child(20),
    div.data-container div.data:nth-child(22){
        background-color: var(--nav-bg-color);
        border-radius: 10px;
        box-shadow: 3px 3px 4px 1px  #ddd;
    }
    div.data-container div.data{
        width: 95%;
    }
}